* {
  font-family: 'g Guarantee', sans-serif;
}

body {
  min-width: 715px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #F2F2F2;
  background-attachment: fixed;
  color: #333333;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

@media (max-width: 1300px) {
  body {
    background-size: auto 100%;
    background-position: center center;
  }

  .logo {
    width: 360px;
  }
}

body header{
  color:#ffdd00;
  text-align: center;
  -webkit-text-stroke: 1.5px rgb(44, 87, 165);
}

nav {
  height: 50px;
  margin: 10px 0px;
}

nav ul {
  font-size: 1.5em;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
}

nav li {
  margin: 0 20px;
  /* Adjust the spacing between menu items */
}

nav a {
  text-decoration: none;
  color: #0055A4;
  /* Pokémon Blue */
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #FFDE00;
  /* Pokémon Yellow */
  text-shadow: 1px 1px 6px #0055A4;
}

main {
  padding: 10px;
  margin-bottom: 50px;
  color: #ded8c9;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: rgb(80, 69, 54);
  border-radius: 10px;
  border-color: #FFCB05;
  border-width: 0.5em;
  border-style: outset;
  text-align: center;
}

main ul {
  list-style: none;
  padding: 0;
}

/* Style list items */
main li {
  margin: 0;
  padding: 0 0 0 20px; /* Adjust the padding as needed */
  text-align: center;
  position: relative;
}

/* Style the list marker (dot) */
main li::before {
  content: "•"; /* Unicode bullet character */
  position: relative;
  right: 0.6em;
}
  

.startpoke:active {
  transform: translate(1px, 2px);
  box-shadow: 5px 5px 5px #1b1a1a92;
}

.startpoke {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
  padding: 1em;
  border-radius: 20px;
  margin: 25px;
  border-style: outset;
  border-width: 4px;
  box-shadow: 10px 10px 5px #1b1a1a92;

}

.startpoke>img {
  width: 100%;

}

.startinfo {
  font-size: larger;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #20402600;
  padding: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/*This is the base aniamtion*/
.shine:after {
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: -100%;
  left: -100%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-14em, 20em);
}

/*This activates the shine once the button has been hovered*/
.shine:hover::after,
button:focus::after {
  animation: shine 1s forwards;
}

@keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(3em, -25em);
  }
}

button{
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 50px;
  padding: 1em;
  border-radius: 20px;
  margin: 25px;
  border-style: outset;
  border-width: 4px;
  box-shadow: 10px 10px 5px #1b1a1a92;
}

input[type="text"] {
  position: relative;
  width: 250px;
  height: 40px;
  padding: 0em;
  padding-left: 1em;
  border-radius: 20px;
  margin: 25px;
  border-style: outset;
  border-width: 4px;
  box-shadow: 10px 10px 5px #1b1a1a92;
}


button:active {
  transform: translate(1px, 2px);
  box-shadow: 5px 5px 5px #1b1a1a92;
}


#team {
  display: inline-block;
  width: 30%;
  list-style: none;
  padding: 10px;
}

#stats {
  display: inline-block;
  width: 60%;
  top: 50px;
  vertical-align: top;
  padding: 10px;
  margin-top: 40px;
}

table {
  margin-left: auto;
  margin-right: auto;

}

dialog {
  border-radius: 10px;
  border-color: #000000;
  border-width: 0.5em;
  border-style: outset;
}

dialog h2 {
  text-align: center;
}

#avatar {
  width: 180px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}


#runaway{
  /* no square background so PNG transparency shows through */
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: visible;
  position: absolute;
  cursor: pointer;
  width: 100px; 
  height: 100px; 
  background-color: transparent;
  border: none;
  border-radius: 0;
  animation: wiggle 2.5s infinite;
}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}